#AuthType Basic
#AuthName "Admin CP"
#AuthUserFile "/var/www/docs/crmbers.neicon.ru/html/.htpasswd"
#AuthGroupFile "/var/www/docs/crmbers.neicon.ru/html/.htgroup"
#Require group admin guest

<Files ~ "^\Galaxy_Empire_DB.sqlite">
    Order allow,deny
    Deny from all
    Satisfy all
</Files>

<FilesMatch "Galaxy_Empire_DB.sqlite">
    Order allow,deny
    Deny from all
    Satisfy all
</Files>
